@charset "UTF-8";
/* Начало стилей главной */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.block {
  display: block;
}

.wrap {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background: #222222;
  color: #fff;
  height: 75px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

.logo {
  /*width: 111px;*/
  /*height: 38px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logoimg {
  height: 38px;
  width: 44px;
  margin-right: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search {
  height: 26px;
  width: 26px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.account {
  height: 37px;
  width: 169px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menuimg {
  height: 23px;
  width: 32px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.accountimg {
  height: 29px;
  width: 29px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.basketimg {
  height: 29px;
  width: 32px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.promo {
  height: 765px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F1E4E6;
}

.promo-image {
  background-size: contain;
  background: #f4f3f3 url(../img/promo.png) no-repeat right;
  height: 100%;
  width: 50%;
}

.promo-header {
  max-width: 50%;
}

.promo-header-box {
  margin-left: 64px;
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
}

.promo-h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  margin: 0;
}

.promo-p {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  margin: 0;
}

.color_for_roza {
  color: #F16D7F;
}

/*
.promoimg {
    width: 800px;
    height: 765px;
    background-image: url(/img/Rectangle\ 3\ copy\ 3.png);
}
*/
.categories {
  margin-top: 64px;
  height: 470px;
}

.categories-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 470px;
}

.categoriesimg1 {
  width: 360px;
  height: 260px;
  background-image: url(../img/1-forwomen.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.categoriesimg2 {
  width: 360px;
  height: 260px;
  background-image: url(../img/2-formen.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.categoriesimg3 {
  width: 360px;
  height: 260px;
  background-image: url(../img/3-forkids.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.categoriesimg4 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 1140px;
  height: 180px;
  background-image: url(../img/4-ACCESORIES.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.categories-p {
  margin: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.categories-h3 {
  margin: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.Fetured.Items {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  margin-top: 97px;
  margin-bottom: 6px;
  color: #222222;
}

.Shop {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  margin: 0;
  margin-bottom: 48px;
  color: #9F9F9F;
  text-align: center;
}

.products {
  background-color: #fff;
}

.productsimg-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promo-categories-p {
  width: 360px;
  height: 162px;
  background: #F8F8F8;
}

.imghover:hover {
  background: red;
}

.promo-categories-p-flex {
  width: 314.74px;
  height: 116.65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 16px;
  margin-top: 25.35px;
}

.categories-p1 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  margin: 0;
  color: #000000;
}

.categories-p2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  color: #5D5D5D;
}

.categories-p3 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin: 0;
}

.product-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1195px;
}

.button {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 95px;
}

.buttonstyle {
  width: 212px;
  height: 48px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  background-color: #FFFFFF;
  border: 1px solid #FF6A6A;
  color: #F26376;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.buttonstyle:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.advantages {
  background: #222224;
  height: 341px;
}

.advantages-wrap {
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages1 {
  width: 360px;
  height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages2 {
  width: 360px;
  height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages3 {
  width: 360px;
  height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  /* identical to box height */
  color: #FBFBFB;
}

.advantages-p1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.nomargin {
  margin: 0;
}

.feedback {
  height: 448px;
  background: #FBFBFB url(../img/Frame7.png) no-repeat center center fixed;
  background-size: cover;
}

.feedback-wrap {
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback_comments {
  width: 360px;
  height: 225px;
  text-align: center;
}

.feedback-p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.feedback-p-italic {
  font-style: italic;
  font-family: Lato;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.feedback_sub {
  width: 557px;
  height: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback_sub-h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  /* or 40px */
  text-align: center;
  color: #222224;
}

.feedback_sub-p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  /* or 30px */
  text-align: center;
  color: #222224;
}

.email {
  width: 250px;
  height: 49px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #E1E1E1;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  outline: none;
  border: none;
  padding-left: 22px;
  padding-right: 64px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.email:focus {
  -webkit-box-shadow: 0 0 20px 0 #F16D7F;
          box-shadow: 0 0 20px 0 #F16D7F;
}

#color-placeholder::-webkit-input-placeholder {
  color: #F16D7F;
  font-size: 16px;
}

.submit {
  width: 100px;
  height: 49px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #F16D7F;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.email_sub {
  width: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.footer {
  height: 79px;
  background-color: #222224;
}

.footer-wrap {
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.socialimgF {
  width: 31.45px;
  height: 32px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.socialimgI {
  width: 31.45px;
  height: 32px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.socialimgP {
  width: 31.45px;
  height: 32px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.socialimgT {
  width: 31.45px;
  height: 32px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.socialimgdiv {
  width: 147.66px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sosialhover:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
  background: #0e9280;
}

/* Начало стилей каталога ! */
.navigation-menu {
  height: 148px;
  background: #F8F3F4;
}

.navigation-menu-wrap {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-menu-ul {
  list-style-type: none;
}

.navigation-menu-p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #F16D7F;
}

.navigation-menu-a {
  display: inline-block;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #636363;
}

.navigation-menu-li + li:before {
  content: "/";
}

.navigation-menu-li:nth-child(3) a {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #F16D7F;
}

a {
  text-decoration: none;
}

details {
  margin-bottom: 18px;
}

::-webkit-details-marker {
  display: none;
}

.details-summary {
  display: block;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #EF5B70;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #6F6E6E;
  padding: 10px;
  outline: none;
  width: 327.5px;
}

.details-FILTER-summary {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  outline: none;
  cursor: pointer;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details-FILTER-summary:after {
  content: url(../img/spisok.svg);
  padding-left: 11px;
}

.details-CATEGORY {
  margin-top: 16px;
}

li {
  list-style-type: none;
  display: inline-block;
}

.tovar-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 17px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 51px;
  margin-bottom: 64px;
  height: 17px;
}

.tovar-filter-summary {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #6F6E6E;
  cursor: pointer;
}

.tovar-filter-summary:after {
  content: url(../img/strelka_details.svg);
  padding-left: 10px;
  margin-right: 27.98px;
}

.product-wrap-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1804px;
}

.pagination {
  width: 284px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.pagination-nav {
  border-radius: 3px;
  border: solid 1px #ececec;
  width: 284px;
  margin-bottom: 96px;
  margin-top: 48px;
  padding: 0;
}

.pagination-item {
  margin-right: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.pagination a {
  padding: 0;
  -webkit-transition: .2s all;
  transition: .2s all;
  margin-right: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.pagination a:hover {
  color: #EF5B70;
}

.pg-active {
  color: #EF5B70;
}

.pagination-item-nav a {
  color: #000000;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

/* начало страницы продукты */
.slider-menu {
  height: 777px;
  background: #F7F7F7;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap-slider {
  height: 777px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.arrow-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-size: 21.7px;
}

.card-info {
  height: 601px;
  margin-bottom: 64px;
}

.card-info-wrap {
  position: absolute;
  margin-top: -64px;
  height: 601px;
  background: #FFFFFF;
  outline: 1px solid #EAEAEA;
}

.card-info-wrap p:nth-child(1) {
  margin-top: 64.54px;
  margin-bottom: 27.23px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #F16D7F;
}

.border-span-women {
  border-bottom: 3px solid #EF5B70;
  padding-bottom: 12px;
}

.card-info-wrap p:nth-child(2) {
  margin-bottom: 48.41px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #4D4D4D;
}

.card-info-wrap p:nth-child(3) {
  margin-bottom: 32.27px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-align: center;
  color: #5E5E5E;
}

.card-info-wrap p:nth-child(4) {
  margin-bottom: 64.54px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #EF5B70;
}

.card-info-hr {
  margin: 0 auto;
  margin-bottom: 64.54px;
  width: 642px;
  border: 1px solid #EAEAEA;
}

.button-product {
  text-align: center;
  margin-top: 48px;
}

.buttonstyle-product {
  padding-left: 20px;
  width: 212px;
  height: 48px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  background: #FFFFFF url(/img/basket.svg) no-repeat left;
  background-position: 24px;
  border: 1px solid #FF6A6A;
  color: #F26376;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.buttonstyle-product:hover {
  background: #F16D7F url(/img/basket_white.svg) no-repeat left;
  background-position: 24px;
  color: #FFFFFF;
}

.product-wrap-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 581px;
  margin-bottom: 128px;
}
/*# sourceMappingURL=style.css.map */